.nav-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    /* background: red; */
    background: linear-gradient(45deg, #fe3072, #ff5940);
    padding: 12px;
    border-radius: 30px;
    border: none;
    margin: 10px;
}